body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(45deg, @bluePurple, @alizarinRed);
  color: @textColor;
  line-height: @lineHeight;
}
.clock-box{
  margin-top: -100px;
  padding: 0 1.5em 3em 1.5em;
  &>.clock{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: @clock;
    .hh,
    .mm,
    .ss{
      width: 70px;
    }
  }
}
.clock, .date{
  text-shadow: 0 5px 5px #000;
}
.date{
  font-size: @date;
}