body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, @bluePurple, @alizarinRed);
  color: @textColor;
  line-height: @lineHeight;
}
.clock-box{
  padding: 3em 1.5em;
}
.clock, .date{
  text-shadow: 0 5px 5px #000;
}
.clock{
  display: flex;
  flex-flow: row nowrap;
  font-size: @clock;
}
.clock .hh,
.clock .mm,
.clock .ss{
  width: 70px;
}
.date{
  font-size: @date;
}