// Font
@mainFont       : 'Teko-Regular', sans-serif;

// Size
@clock          : 4.5em;
@date           : 2em;
@lineHeight     : 4em;

// Main color
@textColor          : #fff;
@bluePurple         : #7b4397;
@alizarinRed        : #dc2430;
